<input type="text" id="search" placeholder="Search by ID or specific fruit">
<button id="searchButton">Search</button>
<input type="text" id="add" placeholder="Add new fruit box">
<button id="addButton">Add</button>
<button id="getAll">Show all items</button>